<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/chess.css" />

</head>

<body>
    <h1 class="colWhite">Chess</h1>

    <div class="container">
        <div class="row">
            <div class="player0">

                <div class="stopwatch"></div>
                <div class="falenFigures"></div>
            </div>
            <div class="chessboardBox"></div>
            <div class="player1">

                <div class="stopwatch"></div>
                <div class="falenFigures"></div>
            </div>
        </div>























</body>

</html>